html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  border: 0;
  overflow: hidden;
  display: block;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    /*
    image-rendering: pixelated;
    width: 800;
    heigth: 800;
    */
    /*
    position: absolute;
    left: 0;
    top: 0;
    */
}
